<p id="notice"><%= notice %></p>

<p>
  <strong>Tour:</strong>
  <!-- We'll want to have the tour name for the link text, and the id for the url.-->
  <%= @stop.tour.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stop.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @stop.full_street_address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stop.description %>
</p>


<p>
  <strong>Image:</strong>
  <%= @stop.image %>
</p>

<%= link_to 'Edit', edit_stop_path(@stop) %> |
<%= link_to 'Back', stops_path %>
