<p id="notice"><%= notice %></p>
<h1> TOUR </h1>
<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @tour.user.username, user_path(@tour.user.id) %>
</p>
<h4> STOPS </h4>
<% if @tour.stops.length > 0 %>
  <ul>
    <% @tour.stops.each do |stop|%>
      <%= render stop %>
    <% end %>
  </ul>
<% else %>
  <p> It looks like this tour doesn't have any stops yet. </p>
<% end %>

<%= link_to 'Add a new stop', edit_tour_path(@tour) %>

<%= link_to 'Back', stops_path %>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
